.navigation {
	display: inline-block;
	margin-top: 17px;
	margin-left: 20px;
	margin-right: 150px;
	padding-bottom: 18px;
}

.nav-li {
	display: inline-block;
	padding: 0 22px;
	color: #343638;

}

.avatar {
	width: 31px;
	margin-left: 40px;
	vertical-align: middle;

}
.nav-ul {
	display: inline-block;
	margin-left: 92px;
	vertical-align: middle;
}

.nav-item {
	color: #959798;
	font-size: 11px;
	font-weight: bold;
}

.logo {
	color: #FA6980;
	font-size: 13px;
	font-weight: bold;
	vertical-align: middle;
}
.active {
	color: #343638;
}

.header-fixed {
	position: fixed;
	width: 100%;
	z-index: 20;
}
.section1 {
	padding-top: 50px;
}
.first_big_box {
	width: 1160px;
	margin: 0 auto ;
	margin-top: 25px;
	margin-bottom: 63px;
}

.box1 {
	width: 360px;
	display: inline-block;
	background: #fff;
}
.box1_margin {
	margin-left: 40px;
	margin-right: 40px;
}
.text1 {
	width: 280px;
	margin: 66px auto;
	color: #A6ADB4;
	font-size: 13px;
}

.h2_1 {
	font-size: 24px;
	font-style: bold;
	margin-bottom: 40px;
}

/*.container {
	display: inline-block;
	width: 1160px;
	margin: 0 auto;
	}*/

.h2_2 {
	font-size: 24px;
	font-style: bold;
	margin-bottom: 35px;
}

.second_big_box {
	display: inline-block;
	width: 760px;
	vertical-align: top;
	margin-right: 40px;
	margin-bottom: 37px;
/*	margin-left: 140px;*/
}

.third_big_box {
	display: inline-block;
	width: 360px;
	vertical-align: top;
/*	height: 896px;*/
}

.image2 {
	margin-top: 40px;
}

.image3 {
	margin: 102px 0;
}

.section2 {
	width: 1160px;
	margin: 0 auto;
}


.wraper1 {
	display: inline-block;
	position: relative;
}

.image-text1 {
	position: absolute;
	top: 28px;
	left: 40px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}

.wraper2 {
	display: inline-block;
	position: relative;
}
.image-text2 {
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
	color: #fff ;
	font-weight: bold;
	font-size: 16px;
}

footer {
	background: #A6ADB4;
}

.navigation1 {
	display: inline-block;
	width: 486.09px;
	margin-top: 56px;
	margin-bottom: 60px;
	background: yellow;
	/*padding-left: 143px;*/

}


.nav-ul1 {
	display: inline-block;
	vertical-align: top;
	/*width: 79px;
	padding: 0 auto;*/
}
/*.nav-li1 {
	padding: 0 auto;
}*/

.logo1 {
	vertical-align: top;
	margin-right: 89.1px;

}
body {
	height: 1000px;
	background: #F6F8F9;

}